<div class="footer fixed-bottom">
   <div class="footer-links">
      <a href="https://github.com/Kayracz/Twitter-Demonstration-App" target="_blank"><i class="fab fa-github"></i></a>
      <a href="http://www.kayracz.com/portfolios" target="_blank"><i class="fas fa-id-card-alt"></i></a>
      <a href="https://www.linkedin.com/in/kayracz/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <!--   <a href=""><i class="fab fa-instagram"></i></a> -->
   </div>
   <div class="footer-copyright">
      Kayra Czerniewicz T.
   </div>
</div>
